[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "==3.1.29"
jira = "==3.5.2"
pytest = "==7.2.0"
validators = "==0.20.0"
packaging = "*"
pytest-cov = "*"
argparse = "*"
pygithub = "*"
markdown = "*"
pdfkit = "*"
wkhtmltopdf = "*"
types-markdown = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.10"
